---
swagger: "2.0"
info:
  description: "No description"
  version: "1.0.0"
  title: "Ruimtelijke Plannen API"
  contact:
    name: "Kadaster"
    email: "dimitri.vanhees@kadaster.nl"
host: "data.pdok.nl"
basePath: "/ruimtelijke-plannen/api/v2"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/problem+json"
produces:
- "application/hal+json"
- "application/problem+json"
security:
- apiKey: []
paths:
  /_zoek:
    post:
      tags:
      - "Globale zoekfunctie"
      summary: "Zoeken in alle collecties op hoofdniveau"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Content-Crs"
        in: "header"
        required: false
        type: "string"
        description: "CRS van de meegegeven geometrie"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          properties:
            _geo:
              type: "object"
              properties:
                contains:
                  $ref: "#/definitions/GeoJSON"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "resultaten"
                type: "object"
                properties:
                  resultaten:
                    type: "array"
                    items:
                      $ref: "#/definitions/SearchResult"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    description: "Absolute link naar huidige pagina"
                    properties:
                      href:
                        type: "string"
                        example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/_zoek"
                  next:
                    required:
                    - "href"
                    type: "object"
                    description: "Absolute link naar volgende pagina (niet aanwezig\
                      \ als er geen volgende pagina is)"
                    properties:
                      href:
                        type: "string"
                        example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/_zoek?page=2"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        400:
          description: "Bad request. Je request body is geen geldige JSON of de query\
            \ wordt niet ondersteund door de API."
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
  /bestemmingsplangebieden:
    get:
      tags:
      - "Bestemmingsplangebieden"
      summary: "bestemmingsplangebieden"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            - "_links"
            type: "object"
            properties:
              _embedded:
                required:
                - "bestemmingsplangebieden"
                type: "object"
                properties:
                  bestemmingsplangebieden:
                    type: "array"
                    items:
                      $ref: "#/definitions/Bestemmingsplangebied"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    properties:
                      href:
                        type: "string"
                  next:
                    type: "object"
                    properties:
                      href:
                        type: "string"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
  /bestemmingsplangebieden/{id}:
    get:
      tags:
      - "Bestemmingsplangebieden"
      summary: "bestemmingsplangebied"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Bestemmingsplangebied"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsplangebieden/{id}:
    get:
      tags:
      - "Bestemmingsplangebieden"
      summary: "bestemmingsplangebied teksten"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
            properties:
              _embedded:
                type: "object"
                properties:
                  teksten:
                    $ref: "#/definitions/Tekst"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlakken"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            - "_links"
            type: "object"
            properties:
              _embedded:
                required:
                - "bestemmingsvlakken"
                type: "object"
                properties:
                  bestemmingsvlakken:
                    type: "array"
                    items:
                      $ref: "#/definitions/Bestemmingsvlak"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    properties:
                      href:
                        type: "string"
                  next:
                    type: "object"
                    properties:
                      href:
                        type: "string"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
  /bestemmingsvlakken/{id}:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Bestemmingsvlak"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken/{id}:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak teksten"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
            properties:
              _embedded:
                type: "object"
                properties:
                  teksten:
                    $ref: "#/definitions/Tekst"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /dossiers:
    get:
      tags:
      - "Dossiers"
      summary: "dossiers"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            - "_links"
            type: "object"
            properties:
              _embedded:
                required:
                - "dossiers"
                type: "object"
                properties:
                  dossiers:
                    type: "array"
                    items:
                      $ref: "#/definitions/Dossier"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    properties:
                      href:
                        type: "string"
                        example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/dossiers"
                  next:
                    type: "object"
                    properties:
                      href:
                        type: "string"
                        example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/dossiers?page=2"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
  /bestemmingsvlakken/{id}/functieaanduidingen:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak functieaanduidingen"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "functieaanduidingen"
                type: "object"
                properties:
                  functieaanduidingen:
                    $ref: "#/definitions/Functieaanduiding"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken/{id}/gebiedsaanduidingen:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak gebiedsaanduidingen"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "gebiedsaanduidingen"
                type: "object"
                properties:
                  gebiedsaanduidingen:
                    $ref: "#/definitions/Gebiedsaanduiding"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken/{id}/maatvoeringen:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak maatvoeringen"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "maatvoeringen"
                type: "object"
                properties:
                  maatvoeringen:
                    $ref: "#/definitions/Maatvoering"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken/{id}/bouwvlakken:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak bouwvlakken"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "bouwvlakken"
                type: "object"
                properties:
                  bouwvlakken:
                    $ref: "#/definitions/Bouwvlak"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken/{id}/bouwaanduidingen:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak bouwaanduidingen"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response"
        default: "epsg:4326"
        enum:
        - "epsg:4326"
        - "epsg:28992"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "bouwaanduidingen"
                type: "object"
                properties:
                  bouwaanduidingen:
                    $ref: "#/definitions/Bouwaanduiding"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken/{id}/figuren:
    get:
      tags:
      - "Bestemmingsvlakken"
      summary: "bestemmingsvlak figuren"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "figuren"
                type: "object"
                properties:
                  figuren:
                    $ref: "#/definitions/Figuur"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /teksten:
    get:
      tags:
      - "Teksten"
      summary: "teksten"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            - "_links"
            type: "object"
            properties:
              _embedded:
                required:
                - "teksten"
                type: "object"
                properties:
                  teksten:
                    type: "array"
                    items:
                      required:
                      - "_links"
                      type: "object"
                      properties:
                        _links:
                          required:
                          - "self"
                          type: "object"
                          properties:
                            self:
                              type: "string"
                              example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/257"
                            title:
                              type: "string"
                              description: "Regel 257"
                              example: "TODO"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    properties:
                      href:
                        type: "string"
                        example: "TODO"
                  next:
                    type: "object"
                    properties:
                      href:
                        type: "string"
                        example: "TODO"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
  /teksten/{id}:
    get:
      tags:
      - "Teksten"
      summary: "tekst"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Tekst"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
definitions:
  Figuur:
    type: "object"
    required:
    - "_links"
    properties:
      id:
        type: "string"
        example: "NL.IMRO.6ba21d351eda49a9808e79b3617f4dcf"
      verwijzingNaarIllustratieInfo:
        type: "string"
        example: "TODO"
      labelInfo:
        type: "string"
        example: "TODO"
      verwijzingNaarTekstInfo:
        type: "string"
        example: "TODO"
      geometrie:
        $ref: "#/definitions/GeoJSON"
      _links:
        required:
        - "tekst"
        type: "object"
        properties:
          tekst:
            required:
            - "href"
            type: "object"
            properties:
              href:
                type: "string"
                description: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/94"
  Error:
    type: "object"
    required:
    - "detail"
    - "instance"
    - "status"
    - "title"
    - "type"
    properties:
      type:
        type: "string"
        description: "URI naar een pagina met meer informatie over deze foutmelding\
          \ voor de ontwikkelaar."
        default: "about:blank"
        example: "about:blank"
      title:
        type: "string"
      status:
        type: "integer"
        example: 404
      detail:
        type: "string"
      instance:
        type: "string"
  Bestemmingsvlak:
    type: "object"
    required:
    - "_links"
    - "type"
    properties:
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94"
          bestemmingsplangebied:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden/759"
          teksten:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/teksten"
          bouwvlakken:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/bouwvlakken"
          functieaanduidingen:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/functieaanduidingen"
          bouwaanduidingen:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/bouwaanduidingen"
          maatvoeringen:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/maatvoeringen"
          gebiedsaanduidingen:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/gebiedsaanduidingen"
          figuren:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/figuren"
      id:
        type: "string"
        example: "94"
      type:
        type: "string"
        enum:
        - "enkelbestemming"
        - "dubbelbestemming"
        example: "enkelbestemming"
      dossier:
        type: "string"
        example: "dossier NL.IMRO.0268.BPa10500"
      naam:
        type: "string"
        example: "Enkelbestemming Bedrijventerrein"
      bestemmingshoofdgroep:
        type: "string"
        example: "Overig"
      artikelnummer:
        type: "string"
        example: "TODO"
      verwijzingNaarTekstInfo:
        type: "string"
        example: "TODO"
      labelInfo:
        type: "string"
        example: "TODO"
      geometrie:
        $ref: "#/definitions/GeoJSON"
Tekst:
    type: "object"
    required:
    - "_links"
    - "tekst"
    - "titel"
    properties:
      titel:
        type: "string"
        example: "1.0: Hoofdstuk 1"
      tekst:
        type: "string"
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            required:
            - "href"
            - "title"
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/429"
              title:
                type: "string"
                example: "1.0: Hoofdstuk 1"
          bestemmingsvlakken:
            required:
            - "href"
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/234"
          bouwaanduidingen:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/234/bouwaanduidingen"
          children:
            type: "array"
            items:
              required:
              - "href"
              type: "object"
              properties:
                href:
                  type: "string"
                  example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/430"
                title:
                  type: "string"
                  example: "1.1: Hoofstuk 1, paragraaf 1"
          parent:
            type: "object"
            properties:
              href:
                type: "string"
                description: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/429"
              title:
                type: "string"
                example: "1.0: Hoofdstuk 1"
  Bouwaanduiding:
    type: "object"
    properties:
      id:
        type: "string"
        example: "TODO"
      labelInfo:
        type: "string"
        example: "TODO"
      verwijzingNaarTekstInfo:
        type: "string"
        example: "TODO"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Bouwvlak:
    type: "object"
    properties:
      id:
        type: "string"
        example: "TODO"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Functieaanduiding:
    type: "object"
    properties:
      id:
        type: "string"
        example: "NL.IMRO.3e542fd876e84c3db419b4e2d3f11089"
      labelInfo:
        type: "string"
        example: "TODO"
      verwijzingNaarTekstInfo:
        type: "string"
        example: "TODO"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Gebiedsaanduiding:
    type: "object"
    required:
    - "_links"
    properties:
      id:
        type: "string"
        example: "TODO"
      gebiedsaanduidinggroep:
        type: "string"
        example: "overige zone"
      artikelnummer:
        type: "string"
        example: "18.1"
      verwijzingNaarTekstInfo:
        type: "string"
        example: "http://www.ruimtelijkeplannen.nl/documents/NL.IMRO.0268.BPa10500-VG01/r_NL.IMRO.0268.BPa10500-VG01.html#_18.1_geluidgezoneerdindustrieterrein"
      labelInfo:
        type: "string"
        example: "Gebiedsaanduiding overige zone - .geluidgezoneerd industrieterrein"
      geometrie:
        $ref: "#/definitions/GeoJSON"
      _links:
        required:
        - "tekst"
        type: "object"
        properties:
          tekst:
            required:
            - "href"
            type: "object"
            properties:
              href:
                type: "string"
                example: "http://www.ruimtelijkeplannen.nl/documents/NL.IMRO.0268.BPa10500-VG01/r_NL.IMRO.0268.BPa10500-VG01.html#_18.1_geluidgezoneerdindustrieterrein"
  Dossier:
    type: "object"
    required:
    - "_links"
    properties:
      id:
        type: "string"
        example: "NL.IMRO.0268.BPa10500"
      title:
        type: "string"
        example: "dossier NL.IMRO.0268.BPa10500"
      _links:
        type: "object"
        properties:
          bestemmingsvlakken:
            type: "string"
            example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?dossier=3487"
  Maatvoering:
    type: "object"
    properties:
      id:
        type: "string"
        example: "NL.IMRO.c233eb4c242c4d01bb41f41b983b1e95"
      symboolInfo:
        type: "string"
        example: "s130h"
      maatvoeringInfo:
        type: "string"
        example: "Maximum bouwhoogte (m): 18"
      verwijzingNaarTekstInfo:
        type: "string"
        example: "TODO"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  SearchResult:
    type: "object"
    required:
    - "_links"
    - "type"
    properties:
      type:
        type: "string"
        enum:
        - "bestemmingsplangebied"
        - "bestemmingsvlak"
        - "dossier"
        - "tekst"
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            required:
            - "href"
            - "title"
            type: "object"
            properties:
              href:
                type: "string"
              title:
                type: "string"
                description: "Human-readable titel van de link"
                example: "NL.IMRO.0289.0044kamergewverh-VSG1"
  Bestemmingsplangebied:
    type: "object"
    required:
    - "_links"
    - "id"
    - "type"
    properties:
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            type: "object"
            properties:
              href:
                type: "string"
                example: "TODO"
          bestemmingsvlakken:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?bestemmingsplangebied=759"
      id:
        type: "string"
        example: "NL.IMRO.0268.BPa10500-VG01"
      type:
        type: "string"
        enum:
        - "bestemmingsplan"
        example: "bestemmingsplan"
      beleidsmatigVerantwoordelijkeOverheid:
        type: "string"
        example: "TODO"
      naamOverheid:
        type: "string"
        example: "gemeente Nijmegen"
      overheidsCode:
        type: "string"
        example: "TODO"
      naam:
        type: "string"
        example: "Nijmegen Westkanaaldijk 2016"
      locatieNaam:
        type: "string"
        example: "TODO"
      planstatusInfo:
        type: "string"
        example: "vastgesteld 2016-11-16"
      besluitnummer:
        type: "string"
        example: "TODO"
      verwijzingNaarVaststellingsbesluit:
        type: "string"
        example: "http://www.ruimtelijkeplannen.nl/documents/NL.IMRO.0268.BPa10500-VG01/vb_NL.IMRO.0268.BPa10500-VG01.pdf"
      verwijzingNaarTekstInfo:
        type: "string"
        example: "TODO"
      verwijzingNaarExternPlanInfo:
        type: "string"
        example: "TODO"
      verwijzingNorm:
        type: "string"
        example: "TODO"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  GeoJSON:
    type: "object"
    required:
    - "coordinates"
    - "type"
    properties:
      type:
        type: "string"
        enum:
        - "Point"
        - "Polygon"
        - "LineString"
        - "MultiPoint"
        - "MultiLineString"
        - "MultiPolygon"
        example: "Point"
      coordinates:
        type: "array"
        items:
          type: "number"
          format: "float"
        example: "5.9623762, 52.2118093"
