---
swagger: "2.0"
info:
  description: "No description"
  version: "2.0.0"
  title: "Ruimtelijke Plannen API"
  contact:
    name: "Kadaster"
    email: "dimitri.vanhees@kadaster.nl"
host: "data.pdok.nl"
basePath: "/ruimtelijke-plannen/api/v2"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/problem+json"
produces:
- "application/hal+json"
- "application/problem+json"
security:
- API Key: []
paths:
  /_zoek:
    post:
      summary: "zoeken in alle root collecties"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Content-Crs"
        in: "header"
        required: false
        type: "string"
        description: "CRS van de meegegeven geometrie (standaard WGS84)"
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response (standaard WGS84)"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          properties:
            geometry:
              type: "object"
              properties:
                contains:
                  $ref: "#/definitions/GeoJSON"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            type: "object"
            properties:
              _embedded:
                required:
                - "resultaten"
                type: "object"
                properties:
                  resultaten:
                    type: "array"
                    items:
                      $ref: "#/definitions/SearchResult"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    description: "Absolute link naar huidige pagina"
                    properties:
                      href:
                        type: "string"
                  next:
                    required:
                    - "href"
                    type: "object"
                    description: "Absolute link naar volgende pagina (niet aanwezig\
                      \ als er geen volgende pagina is)"
                    properties:
                      href:
                        type: "string"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        400:
          description: "Bad request. Je request body is geen geldige JSON of de query\
            \ wordt niet ondersteund door de API."
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`\
            \ header meegestuurd."
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen."
          schema:
            $ref: "#/definitions/Error"
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat\
            \ met de `Accept` header verstuurd welke niet ondersteund wordt. De API\
            \ kan momenteel alleen `application/hal+json` terugsturen."
          schema:
            $ref: "#/definitions/Error"
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud\
            \ of een storing plaats."
          schema:
            $ref: "#/definitions/Error"
          headers:
            Retry-After:
              type: "string"
              format: "date-time"
              description: "Tijdstip waarop verwacht is dat de service weer beschikbaar\
                \ zal zijn."
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
  /bestemmingsplangebieden:
    get:
      summary: "bestemmingsplangebieden"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response (standaard WGS84)"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            - "_links"
            type: "object"
            properties:
              _embedded:
                required:
                - "bestemmingsplangebieden"
                type: "object"
                properties:
                  bestemmingsplangebieden:
                    type: "array"
                    items:
                      $ref: "#/definitions/Bestemmingsplangebied"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    properties:
                      href:
                        type: "string"
                  next:
                    type: "object"
                    properties:
                      href:
                        type: "string"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
  /bestemmingsplangebieden/{id}:
    get:
      summary: "bestemmingsplangebied"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Bestemmingsplangebied"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsplangebieden/{id}/teksten:
    get:
      summary: "bestemmingsplangebied teksten"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
            properties:
              _embedded:
                type: "object"
                properties:
                  teksten:
                    $ref: "#/definitions/Tekst"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken:
    get:
      summary: "bestemmingsvlakken"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response (standaard WGS84)"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            - "_links"
            type: "object"
            properties:
              _embedded:
                required:
                - "bestemmingsvlakken"
                type: "object"
                properties:
                  bestemmingsvlakken:
                    type: "array"
                    items:
                      $ref: "#/definitions/Bestemmingsvlak"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    properties:
                      href:
                        type: "string"
                  next:
                    type: "object"
                    properties:
                      href:
                        type: "string"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
  /bestemmingsvlakken/{id}:
    get:
      summary: "bestemmingsvlak"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Bestemmingsvlak"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /bestemmingsvlakken/{id}/teksten:
    get:
      summary: "bestemmingsvlak teksten"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
            properties:
              _embedded:
                type: "object"
                properties:
                  teksten:
                    $ref: "#/definitions/Tekst"
    parameters:
    - name: "id"
      in: "path"
      required: true
      type: "string"
  /dossiers:
    get:
      summary: "dossiers"
      produces:
      - "application/hal+json"
      - "application/problem+json"
      parameters:
      - name: "Accept-Crs"
        in: "header"
        required: false
        type: "string"
        description: "Gewenste CRS van de coördinaten in de response (standaard WGS84)"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "_embedded"
            - "_links"
            type: "object"
            properties:
              _embedded:
                required:
                - "dossiers"
                type: "object"
                properties:
                  dossiers:
                    type: "array"
                    items:
                      $ref: "#/definitions/Dossier"
              _links:
                required:
                - "self"
                type: "object"
                properties:
                  self:
                    required:
                    - "href"
                    type: "object"
                    properties:
                      href:
                        type: "string"
                  next:
                    type: "object"
                    properties:
                      href:
                        type: "string"
          headers:
            Content-Crs:
              type: "string"
              description: "CRS van de teruggegeven geometrieën"
        404:
          description: "Status 404"
          schema:
            $ref: "#/definitions/Error"
definitions:
  SearchResult:
    type: "object"
    required:
    - "_links"
    - "type"
    properties:
      type:
        type: "string"
        enum:
        - "bestemmingsplangebied"
        - "bestemmingsvlak"
        - "dossier"
        - "tekst"
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            required:
            - "href"
            - "title"
            type: "object"
            properties:
              href:
                type: "string"
              title:
                type: "string"
                description: "Human-readable titel van de link"
                example: "NL.IMRO.0289.0044kamergewverh-VSG1"
  GeoJSON:
    type: "object"
    required:
    - "coordinates"
    - "type"
    properties:
      type:
        type: "string"
        enum:
        - "Point"
        - "Polygon"
        - "LineString"
        - "MultiPoint"
        - "MultiLineString"
        - "MultiPolygon"
        example: "Point"
      coordinates:
        type: "array"
        items:
          type: "number"
          format: "float"
        example: "5.9623762, 52.2118093"
  Dossier:
    type: "object"
    required:
    - "_links"
    properties:
      id:
        type: "string"
      title:
        type: "string"
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            required:
            - "href"
            type: "object"
            properties:
              href:
                type: "string"
          bestemmingsvlakken:
            type: "string"
            example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?dossier=3487"
  Bestemmingsplangebied:
    type: "object"
    required:
    - "_links"
    properties:
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            type: "object"
            properties:
              href:
                type: "string"
          bestemmingsvlakken:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?bestemmingsplangebied=759"
      id:
        type: "string"
      type:
        type: "string"
      beleidsmatigVerantwoordelijkeOverheid:
        type: "string"
      naamOverheid:
        type: "string"
      overheidsCode:
        type: "string"
      naam:
        type: "string"
      locatieNaam:
        type: "string"
      planstatusInfo:
        type: "string"
      besluitnummer:
        type: "string"
      verwijzingNaarVaststellingsbesluit:
        type: "string"
      verwijzingNaarTekstInfo:
        type: "string"
      ondergrondInfo:
        type: "string"
      verwijzingNaarExternPlanInfo:
        type: "string"
      verwijzingNorm:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Error:
    type: "object"
    required:
    - "detail"
    - "instance"
    - "status"
    - "title"
    - "type"
    properties:
      type:
        type: "string"
      title:
        type: "string"
      status:
        type: "integer"
        enum:
        - 400
        - 401
        - 403
        - 404
        - 405
        - 406
        - 409
        - 410
        - 429
        - 500
        - 503
        example: 404
      detail:
        type: "string"
      instance:
        type: "string"
  Bestemmingsvlak:
    type: "object"
    required:
    - "_links"
    - "type"
    properties:
      _links:
        required:
        - "self"
        type: "object"
        properties:
          self:
            type: "object"
            properties:
              href:
                type: "string"
          bestemmingsplangebied:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden/759"
          teksten:
            type: "object"
            properties:
              href:
                type: "string"
                example: "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/94/teksten"
          bouwvlakken:
            type: "object"
            properties:
              href:
                type: "string"
          functieaanduidingen:
            type: "object"
            properties:
              href:
                type: "string"
          bouwaanduidingen:
            type: "object"
            properties:
              href:
                type: "string"
          maatvoeringen:
            type: "object"
            properties:
              href:
                type: "string"
          gebiedsaanduidingen:
            type: "object"
            properties:
              href:
                type: "string"
          figuren:
            type: "object"
            properties:
              href:
                type: "string"
      id:
        type: "string"
        example: "94"
      type:
        type: "string"
        enum:
        - "enkelbestemming"
        - "dubbelbestemming"
        example: "enkelbestemming"
      dossier:
        type: "string"
      naam:
        type: "string"
      bestemmingshoofdgroep:
        type: "string"
      artikelnummer:
        type: "string"
      verwijzingNaarTekstInfo:
        type: "string"
      labelInfo:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Tekst:
    type: "object"
    required:
    - "label"
    - "plain"
    properties:
      label:
        type: "string"
      plain:
        type: "string"
      html:
        type: "string"
      _links:
        type: "object"
        properties:
          self:
            type: "object"
            properties:
              href:
                type: "string"
  Bouwvlak:
    type: "object"
    properties:
      id:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Functieaanduiding:
    type: "object"
    properties:
      id:
        type: "string"
      labelInfo:
        type: "string"
      verwijzingNaarTekstInfo:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Bouwaanduiding:
    type: "object"
    properties:
      id:
        type: "string"
      labelInfo:
        type: "string"
      verwijzingNaarTekstInfo:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Maatvoering:
    type: "object"
    properties:
      id:
        type: "string"
      symboolInfo:
        type: "string"
      maatvoeringInfo:
        type: "string"
      verwijzingNaarTekstInfo:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Gebiedsaanduiding:
    type: "object"
    properties:
      id:
        type: "string"
      gebiedsaanduidinggroep:
        type: "string"
      artikelnummer:
        type: "string"
      verwijzingNaarTekstInfo:
        type: "string"
      labelInfo:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
  Figuur:
    type: "object"
    properties:
      id:
        type: "string"
      verwijzingNaarIllustratieInfo:
        type: "string"
      labelInfo:
        type: "string"
      verwijzingNaarTekstInfo:
        type: "string"
      geometrie:
        $ref: "#/definitions/GeoJSON"
