{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://data.pdok.nl/rp/api/v1"
        }
    ],
    "info": {
        "version": "1.0.0",
        "title": "Ruimtelijke Plannen API",
        "contact": {
            "name": "Dimitri van Hees",
            "email": "dimitri.vanhees@kadaster.nl"
        }
    },
    "paths": {
        "/_zoek": {
            "post": {
                "tags": [
                    "Globale zoekfunctie"
                ],
                "summary": "Zoeken in alle collecties op hoofdniveau",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/contentCrs"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/optionalPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "resultaten"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "resultaten": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/SearchResult"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "_geo": {
                                        "type": "object",
                                        "properties": {
                                            "intersects": {
                                                "$ref": "#/components/schemas/GeoJSON"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/bestemmingsplangebieden": {
            "get": {
                "tags": [
                    "Bestemmingsplangebieden"
                ],
                "summary": "bestemmingsplangebieden collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "description": "Filteren op type plan",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "bestemmingsplan"
                            ],
                            "default": "bestemmingsplan"
                        }
                    },
                    {
                        "name": "beleidsmatigVerantwoordelijkeOverheid.type",
                        "in": "query",
                        "required": false,
                        "description": "Filteren op beleidsmatig verantwoordelijke overheid",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GemeentelijkeOverheid",
                                "Deelgemeente_Stadsdeel",
                                "ProvincialeOverheid",
                                "NationaleOverheid"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "Filteren op status van een plan",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "concept",
                                "voorontwerp",
                                "ontwerp",
                                "vastgesteld",
                                "geconsolideerd"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded",
                                        "_links"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "bestemmingsplangebieden"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "bestemmingsplangebieden": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Bestemmingsplangebied"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/bestemmingsplangebieden/_zoek": {
            "post": {
                "tags": [
                    "Bestemmingsplangebieden"
                ],
                "summary": "Zoeken binnen bestemmingsplangebieden",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/contentCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "description": "Filteren op type plan",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "bestemmingsplan"
                            ],
                            "default": "bestemmingsplan"
                        }
                    },
                    {
                        "name": "beleidsmatigVerantwoordelijkeOverheid.type",
                        "in": "query",
                        "required": false,
                        "description": "Filteren op beleidsmatig verantwoordelijke overheid",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GemeentelijkeOverheid",
                                "Deelgemeente_Stadsdeel",
                                "ProvincialeOverheid",
                                "NationaleOverheid"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "Filteren op status van een plan",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "concept",
                                "voorontwerp",
                                "ontwerp",
                                "vastgesteld",
                                "geconsolideerd"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded",
                                        "_links"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "bestemmingsplangebieden"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "bestemmingsplangebieden": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Bestemmingsplangebied"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "_geo": {
                                        "type": "object",
                                        "properties": {
                                            "intersects": {
                                                "$ref": "#/components/schemas/GeoJSON"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bestemmingsplangebieden/{id}": {
            "get": {
                "tags": [
                    "Bestemmingsplangebieden"
                ],
                "summary": "bestemmingsplangebied resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bestemmingsplangebied"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/teksten": {
            "get": {
                "tags": [
                    "Teksten"
                ],
                "summary": "teksten collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/bestemmingsplangebied"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded",
                                        "_links"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "teksten"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "teksten": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Tekst"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/teksten/{id}": {
            "get": {
                "tags": [
                    "Teksten"
                ],
                "summary": "tekst",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tekst"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/bestemmingsvlakken": {
            "get": {
                "tags": [
                    "Bestemmingsvlakken"
                ],
                "summary": "bestemmingsvlakken collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded",
                                        "_links"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "bestemmingsvlakken"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "bestemmingsvlakken": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Bestemmingsvlak"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/bestemmingsvlakken/{id}": {
            "get": {
                "tags": [
                    "Bestemmingsvlakken"
                ],
                "summary": "bestemmingsvlakken resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/mandatoryPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bestemmingsvlak"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/functieaanduidingen": {
            "get": {
                "tags": [
                    "Functieaanduidingen"
                ],
                "summary": "functieaanduidingen collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/bestemmingsvlak"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "functieaanduidingen"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "functieaanduidingen": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Functieaanduiding"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/functieaanduidingen/{id}": {
            "get": {
                "tags": [
                    "Functieaanduidingen"
                ],
                "summary": "functieaanduidingen resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/mandatoryPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Functieaanduiding"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/gebiedsaanduidingen": {
            "get": {
                "tags": [
                    "Gebiedsaanduidingen"
                ],
                "summary": "gebiedsaanduidingen collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/bestemmingsvlak"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "gebiedsaanduidingen"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "gebiedsaanduidingen": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Gebiedsaanduiding"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/gebiedsaanduidingen/{id}": {
            "get": {
                "tags": [
                    "Gebiedsaanduidingen"
                ],
                "summary": "gebiedsaanduidingen resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/mandatoryPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Gebiedsaanduiding"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/maatvoeringen": {
            "get": {
                "tags": [
                    "Maatvoeringen"
                ],
                "summary": "maatvoeringen collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/bestemmingsvlak"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "maatvoeringen"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "maatvoeringen": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Maatvoering"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/maatvoeringen/{id}": {
            "get": {
                "tags": [
                    "Maatvoeringen"
                ],
                "summary": "maatvoeringen resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/mandatoryPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Maatvoering"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/bouwaanduidingen": {
            "get": {
                "tags": [
                    "Bouwaanduidingen"
                ],
                "summary": "bouwaanduidingen collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/bestemmingsvlak"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "bouwaanduidingen"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "bouwaanduidingen": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Bouwaanduiding"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/bouwaanduidingen/{id}": {
            "get": {
                "tags": [
                    "Bouwaanduidingen"
                ],
                "summary": "bouwaanduidingen resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/mandatoryPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bouwaanduiding"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/figuren": {
            "get": {
                "tags": [
                    "Figuren"
                ],
                "summary": "figuren collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/bestemmingsvlak"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "figuren"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "figuren": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Figuur"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/figuren/{id}": {
            "get": {
                "tags": [
                    "Figuren"
                ],
                "summary": "figuren resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/mandatoryPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Figuur"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/bouwvlakken": {
            "get": {
                "tags": [
                    "Bouwvlakken"
                ],
                "summary": "bouwvlakken collectie",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/bestemmingsvlak"
                    },
                    {
                        "$ref": "#/components/parameters/tekst"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Page"
                            },
                            {
                                "$ref": "#/components/headers/X-Pagination-Limit"
                            },
                            {
                                "$ref": "#/components/headers/X-Total-Count"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "required": [
                                        "_embedded"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "_embedded": {
                                            "required": [
                                                "bouwvlakken"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "bouwvlakken": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Bouwvlak"
                                                    }
                                                }
                                            }
                                        },
                                        "_links": {
                                            "type": "object",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/CollectionLinks"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/bouwvlakken/{id}": {
            "get": {
                "tags": [
                    "Bouwvlakken"
                ],
                "summary": "bouwvlakken resource",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/acceptCrs"
                    },
                    {
                        "$ref": "#/components/parameters/mandatoryPlanId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": [
                            {
                                "$ref": "#/components/headers/Content-Crs"
                            }
                        ],
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bouwvlak"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        }
    },
    "components": {
        "headers": {
            "Content-Crs": {
                "description": "CRS van de geometrie in de response body",
                "schema": {
                    "type": "string",
                    "enum": [
                        "epsg:4326",
                        "epsg:28992"
                    ],
                    "default": "epsg:4326"
                }
            },
            "X-Pagination-Page": {
                "description": "Current page numer (pages are numbered, starting at 1)",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Pagination-Limit": {
                "description": "Number of object per page",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Total-Count": {
                "description": "Total number of results",
                "schema": {
                    "type": "integer"
                }
            }
        },
        "parameters": {
            "contentCrs": {
                "name": "Content-Crs",
                "in": "header",
                "required": false,
                "description": "CRS van de meegegeven geometrie",
                "schema": {
                    "type": "string",
                    "enum": [
                        "epsg:4326",
                        "epsg:28992"
                    ],
                    "default": "epsg:4326"
                }
            },
            "acceptCrs": {
                "name": "Accept-Crs",
                "in": "header",
                "required": false,
                "description": "Gewenste CRS van de coÃ¶rdinaten in de response",
                "schema": {
                    "type": "string",
                    "enum": [
                        "epsg:4326",
                        "epsg:28992"
                    ],
                    "default": "epsg:4326"
                }
            },
            "xPaginationPage": {
                "name": "X-Pagination-Page",
                "in": "header",
                "required": false,
                "description": "Page number (starts with 1)",
                "schema": {
                    "type": "integer"
                }
            },
            "xPaginationLimit": {
                "name": "X-Pagination-Limit",
                "in": "header",
                "required": false,
                "description": "Page size",
                "schema": {
                    "type": "integer"
                }
            },
            "xTotalCount": {
                "name": "X-Total-Count",
                "in": "header",
                "required": false,
                "description": "Total number of results",
                "schema": {
                    "type": "integer"
                }
            },
            "id": {
                "name": "id",
                "in": "path",
                "description": "Identifier",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "optionalPlanId": {
                "name": "planId",
                "in": "query",
                "description": "Identifier",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "mandatoryPlanId": {
                "name": "planId",
                "in": "query",
                "description": "Identifier",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "page": {
                "name": "page",
                "in": "query",
                "description": "Page number",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1
                }
            },
            "bestemmingsplangebied": {
                "name": "bestemmingsplangebied",
                "in": "query",
                "required": false,
                "description": "Filteren op bestemmingsplangebied",
                "schema": {
                    "type": "string"
                }
            },
            "bestemmingsvlak": {
                "name": "bestemmingsvlak",
                "in": "query",
                "required": false,
                "description": "Filteren op bestemmingsvlak",
                "schema": {
                    "type": "string"
                }
            },
            "functieaanduiding": {
                "name": "functieaanduiding",
                "in": "query",
                "required": false,
                "description": "Filteren op functieaanduiding",
                "schema": {
                    "type": "string"
                }
            },
            "gebiedsaanduiding": {
                "name": "gebiedsaanduiding",
                "in": "query",
                "required": false,
                "description": "Filteren op gebiedsaanduiding",
                "schema": {
                    "type": "string"
                }
            },
            "maatvoering": {
                "name": "maatvoering",
                "in": "query",
                "required": false,
                "description": "Filteren op maatvoering",
                "schema": {
                    "type": "string"
                }
            },
            "bouwaanduiding": {
                "name": "bouwaanduiding",
                "in": "query",
                "required": false,
                "description": "Filteren op bouwaanduiding",
                "schema": {
                    "type": "string"
                }
            },
            "figuur": {
                "name": "figuur",
                "in": "query",
                "required": false,
                "description": "Filteren op figuur",
                "schema": {
                    "type": "string"
                }
            },
            "bouwvlak": {
                "name": "bouwvlak",
                "in": "query",
                "required": false,
                "description": "Filteren op bouwvlak",
                "schema": {
                    "type": "string"
                }
            },
            "tekst": {
                "name": "tekst",
                "in": "query",
                "required": false,
                "description": "Filteren op tekst",
                "schema": {
                    "type": "string"
                }
            }
        },
        "schemas": {
            "externplanreferentie": {
                "type": "object",
                "required": [
                    "href"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "href": {
                        "type": "string",
                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden/758"
                    }
                }
            },
            "Bestemmingsplangebied": {
                "type": "object",
                "required": [
                    "_links",
                    "id",
                    "type"
                ],
                "properties": {
                    "_links": {
                        "required": [
                            "self"
                        ],
                        "type": "object",
                        "properties": {
                            "self": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden/759"
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Buitengebied; Elderinkweg 9 Hengelo (vastgesteld, 2016-10-27)"
                                    }
                                }
                            },
                            "vervangt": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/externplanreferentie"
                                }
                            },
                            "tenGevolgeVan": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/externplanreferentie"
                                }
                            },
                            "muteert": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/externplanreferentie"
                                }
                            },
                            "bestemmingsvlakken": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?bestemmingsplangebied=759"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "teksten": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten?bestemmingsplangebied=759"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "id": {
                        "type": "string",
                        "example": "NL.IMRO.0268.BPa10500-VG01"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "bestemmingsplan",
                            "inpassingsplan",
                            "rijksbestemmingsplan",
                            "uitwerkingsplan",
                            "wijzigingsplan"
                        ],
                        "example": "bestemmingsplan"
                    },
                    "beleidsmatigVerantwoordelijkeOverheid": {
                        "type": "object",
                        "description": "Dit is de overheid die over dit ding gaat.",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": [
                                    "gemeentelijke overheid",
                                    "deelgemeente/stadsdeel",
                                    "provinciale overheid",
                                    "nationale overheid"
                                ],
                                "example": "gemeentelijke overheid"
                            },
                            "code": {
                                "type": "string",
                                "description": "CBS-code van de beleidsmatig verantwoordelijke overheid. Altijd 4 cijfers, indien nodig aangevuld met voorloopnullen.",
                                "example": "0000"
                            },
                            "naam": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "example": "gemeente Nijmegen"
                                }
                            }
                        }
                    },
                    "naam": {
                        "type": "string",
                        "example": "Nijmegen Westkanaaldijk 2016"
                    },
                    "locatieNaam": {
                        "type": "string",
                        "example": "TODO"
                    },
                    "planstatusInfo": {
                        "type": "object",
                        "properties": {
                            "planstatus": {
                                "type": "string",
                                "enum": [
                                    "concept",
                                    "voorontwerp",
                                    "ontwerp",
                                    "vastgesteld",
                                    "geconsolideerd"
                                ],
                                "example": "vastgesteld"
                            },
                            "datum": {
                                "type": "string",
                                "example": "TODO: xsd:date wordt nog niet ondersteund door grid-api?"
                            }
                        }
                    },
                    "verwijzingNaarVaststellingsbesluit": {
                        "type": "string",
                        "example": "TODO: URL onderdeel van `vaststellingsbesluit`? Is dit een link naar een API resource of naar een extern document (bijv. pdf)`?"
                    },
                    "besluitnummer": {
                        "type": "string",
                        "example": "TODO: besluitnummer is onderdeel van `vaststellingsbesluit`?"
                    },
                    "verwijzingNorm": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "IMRO2012"
                        }
                    },
                    "geometrie": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GeoJSON"
                            }
                        ]
                    }
                }
            },
            "Tekst": {
                "type": "object",
                "required": [
                    "titel",
                    "volgnummer",
                    "_links"
                ],
                "properties": {
                    "titel": {
                        "type": "string",
                        "example": "1.0: Hoofdstuk 1"
                    },
                    "inhoud": {
                        "type": "string",
                        "description": "Inhoud van van het tekstblok. Voor de Ruimtelijke Plannen is dit XHTML, voor LVBB wellicht XML en voor andere informatiehuizen wellicht plain text. Hoe een client dit moet behandelen wordt in de verbeelding afgehandeld.",
                        "example": "Dit is een paragraaf met een Linkje naar Google."
                    },
                    "volgnummer": {
                        "type": "integer",
                        "example": "42"
                    },
                    "_links": {
                        "required": [
                            "self"
                        ],
                        "type": "object",
                        "properties": {
                            "self": {
                                "required": [
                                    "href"
                                ],
                                "type": "object",
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/429"
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "1.0: Hoofdstuk 1"
                                    }
                                }
                            },
                            "parent": {
                                "type": "object",
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/428"
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "1.0: Hoofdstuk 1"
                                    }
                                }
                            },
                            "children": {
                                "type": "array",
                                "items": {
                                    "required": [
                                        "href"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "href": {
                                            "type": "string",
                                            "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten/430"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "1.0 Hoofdstuk 1"
                                        },
                                        "volgnummer": {
                                            "type": "integer",
                                            "example": "the answer to life, the universe and everything"
                                        }
                                    }
                                }
                            },
                            "bestemmingsplangebieden": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "bestemmingsvlakken": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "functieaanduidingen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/functieaanduidingen?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "gebiedsaanduidingen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/gebiedsaanduidingen?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "maatvoeringen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/maatvoeringen?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "bouwaanduidingen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwaanduidingen?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "figuren": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/figuren?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "bouwvlakken": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwvlakken?tekst=429"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Bestemmingsvlak": {
                "type": "object",
                "required": [
                    "_links",
                    "type"
                ],
                "properties": {
                    "_links": {
                        "required": [
                            "self"
                        ],
                        "type": "object",
                        "properties": {
                            "self": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken/NL.IMRO.423d9f5d924c4f76a001a94f8ca284b4"
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Enkelbestemming Bedrijventerrein"
                                    }
                                }
                            },
                            "functieaanduidingen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/functieaanduidingen?bestemmingsvlak=94"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "gebiedsaanduidingen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/gebiedsaanduidingen?bestemmingsvlak=94"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "maatvoeringen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/maatvoeringen?bestemmingsvlak=94"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "bouwaanduidingen": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwaanduidingen?bestemmingsvlak=94"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "figuren": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/figuren?bestemmingsvlak=94"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            },
                            "bouwvlakken": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwvlakken?bestemmingsvlak=94"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "id": {
                        "type": "string",
                        "example": "NL.IMRO.423d9f5d924c4f76a001a94f8ca284b4"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "enkelbestemming",
                            "dubbelbestemming"
                        ],
                        "example": "enkelbestemming"
                    },
                    "naam": {
                        "type": "string",
                        "example": "Enkelbestemming Bedrijventerrein"
                    },
                    "bestemmingshoofdgroep": {
                        "type": "string",
                        "example": "Natuur"
                    },
                    "artikelnummer": {
                        "type": "string",
                        "example": "43"
                    },
                    "geometrie": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GeoJSON"
                            }
                        ]
                    }
                }
            },
            "Functieaanduiding": {
                "type": "object",
                "required": [
                    "_links"
                ],
                "properties": {
                    "_links": {
                        "required": [
                            "self"
                        ],
                        "type": "object",
                        "properties": {
                            "self": {
                                "type": "object",
                                "required": [
                                    "href"
                                ],
                                "properties": {
                                    "href": {
                                        "type": "string",
                                        "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/functieaanduidingen/NL.IMRO.3e542fd876e84c3db419b4e2d3f11089"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "id": {
                        "type": "string",
                        "example": "NL.IMRO.3e542fd876e84c3db419b4e2d3f11089"
                    },
                    "naam": {
                        "type": "string",
                        "example": "specifieke vorm van wonen - wonen a"
                    },
                    "geometrie": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GeoJSON"
                            }
                        ]
[...]
