{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://data.pdok.nl/rp/api/v1"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Ruimtelijke Plannen API"
  },
  "x-ldpath-namespaces": {
    "nen3610": "http://data.informatiehuisruimte.nl/def/nen3610#",
    "skos": "http://www.w3.org/2004/02/skos/core#",
    "dcterms": "http://purl.org/dc/terms/",
    "ro": "http://data.informatiehuisruimte.nl/def/ro#",
    "pdok": "http://data.pdok.nl/def/pdok#",
    "geo": "http://www.opengis.net/ont/geosparql#"
  },
  "paths": {
    "/_zoek": {
      "x-product": "zoek",
      "post": {
        "tags": [
          "Globale zoekfunctie"
        ],
        "summary": "Zoeken in alle collecties op hoofdniveau",
        "parameters": [
          {
            "$ref": "#/components/parameters/contentCrs"
          },
          {
            "$ref": "#/components/parameters/acceptCrs"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "headers": {
              "Content-Crs": {
                "description": "CRS van de teruggegeven geometrieën",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "resultaten"
                      ],
                      "type": "object",
                      "properties": {
                        "resultaten": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "x-relative-link": {
                                "pattern": "/_zoek"
                              },
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/_zoek"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/_zoek?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "resultaten"
                      ],
                      "type": "object",
                      "properties": {
                        "resultaten": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "x-relative-link": {
                                "pattern": "/_zoek"
                              },
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/_zoek"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/_zoek?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Je request body is geen geldige JSON of de query wordt niet ondersteund door de API.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_geo": {
                    "type": "object",
                    "properties": {
                      "intersects": {
                        "$ref": "#/components/schemas/GeoJSON"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/bestemmingsplangebieden": {
      "x-product": "bestemmingsplangebied",
      "get": {
        "tags": [
          "Bestemmingsplangebieden"
        ],
        "summary": "bestemmingsplangebieden collectie",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "$ref": "#/components/parameters/bestemmingsvlak"
          },
          {
            "$ref": "#/components/parameters/functieaanduiding"
          },
          {
            "$ref": "#/components/parameters/gebiedsaanduiding"
          },
          {
            "$ref": "#/components/parameters/maatvoering"
          },
          {
            "$ref": "#/components/parameters/bouwaanduiding"
          },
          {
            "$ref": "#/components/parameters/figuur"
          },
          {
            "$ref": "#/components/parameters/bouwvlak"
          },
          {
            "$ref": "#/components/parameters/tekst"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filteren op type plan",
            "schema": {
              "type": "string",
              "enum": [
                "bestemmingsplan"
              ],
              "default": "bestemmingsplan"
            }
          },
          {
            "name": "beleidsmatigVerantwoordelijkeOverheid.type",
            "in": "query",
            "required": false,
            "description": "Filteren op beleidsmatig verantwoordelijke overheid",
            "schema": {
              "type": "string",
              "enum": [
                "GemeentelijkeOverheid",
                "Deelgemeente_Stadsdeel",
                "ProvincialeOverheid",
                "NationaleOverheid"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filteren op status van een plan",
            "schema": {
              "type": "string",
              "enum": [
                "concept",
                "voorontwerp",
                "ontwerp",
                "vastgesteld",
                "geconsolideerd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "headers": {
              "Content-Crs": {
                "description": "CRS van de teruggegeven geometrieën",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bestemmingsplangebieden"
                      ],
                      "type": "object",
                      "properties": {
                        "bestemmingsplangebieden": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bestemmingsplangebied"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden",
                              "x-relative-link": {
                                "pattern": "/bestemmingsplangebieden"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bestemmingsplangebieden"
                      ],
                      "type": "object",
                      "properties": {
                        "bestemmingsplangebieden": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bestemmingsplangebied"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden",
                              "x-relative-link": {
                                "pattern": "/bestemmingsplangebieden"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bestemmingsplangebieden/_zoek": {
      "post": {
        "tags": [
          "Bestemmingsplangebieden"
        ],
        "summary": "Zoeken binnen bestemmingsplangebieden",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filteren op type plan",
            "schema": {
              "type": "string",
              "enum": [
                "bestemmingsplan"
              ],
              "default": "bestemmingsplan"
            }
          },
          {
            "name": "beleidsmatigVerantwoordelijkeOverheid.type",
            "in": "query",
            "required": false,
            "description": "Filteren op beleidsmatig verantwoordelijke overheid",
            "schema": {
              "type": "string",
              "enum": [
                "GemeentelijkeOverheid",
                "Deelgemeente_Stadsdeel",
                "ProvincialeOverheid",
                "NationaleOverheid"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filteren op status van een plan",
            "schema": {
              "type": "string",
              "enum": [
                "concept",
                "voorontwerp",
                "ontwerp",
                "vastgesteld",
                "geconsolideerd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "headers": {
              "Content-Crs": {
                "description": "CRS van de teruggegeven geometrieën",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bestemmingsplangebieden"
                      ],
                      "type": "object",
                      "properties": {
                        "bestemmingsplangebieden": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bestemmingsplangebied"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bestemmingsplangebieden"
                      ],
                      "type": "object",
                      "properties": {
                        "bestemmingsplangebieden": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bestemmingsplangebied"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsplangebieden?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_geo": {
                    "type": "object",
                    "properties": {
                      "intersects": {
                        "$ref": "#/components/schemas/GeoJSON"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bestemmingsplangebieden/{id}": {
      "x-product": "bestemmingsplangebied",
      "get": {
        "tags": [
          "Bestemmingsplangebieden"
        ],
        "summary": "bestemmingsplangebied resource",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/acceptCrs"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bestemmingsplangebied"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bestemmingsplangebied"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teksten": {
      "x-product": "tekst",
      "get": {
        "tags": [
          "Teksten"
        ],
        "summary": "teksten collectie",
        "parameters": [
          {
            "$ref": "#/components/parameters/bestemmingsplangebied"
          },
          {
            "$ref": "#/components/parameters/bestemmingsvlak"
          },
          {
            "$ref": "#/components/parameters/functieaanduiding"
          },
          {
            "$ref": "#/components/parameters/gebiedsaanduiding"
          },
          {
            "$ref": "#/components/parameters/maatvoering"
          },
          {
            "$ref": "#/components/parameters/bouwaanduiding"
          },
          {
            "$ref": "#/components/parameters/figuur"
          },
          {
            "$ref": "#/components/parameters/bouwvlak"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "teksten"
                      ],
                      "type": "object",
                      "properties": {
                        "teksten": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Tekst"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten",
                              "x-relative-link": {
                                "pattern": "/teksten"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "teksten"
                      ],
                      "type": "object",
                      "properties": {
                        "teksten": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Tekst"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/teksten",
                              "x-relative-link": {
                                "pattern": "/teksten"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teksten/{id}": {
      "get": {
        "tags": [
          "Teksten"
        ],
        "summary": "tekst",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Tekst"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Tekst"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bestemmingsvlakken": {
      "x-product": "bestemmingsvlak",
      "get": {
        "tags": [
          "Bestemmingsvlakken"
        ],
        "summary": "bestemmingsvlakken collectie",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "$ref": "#/components/parameters/bestemmingsplangebied"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "headers": {
              "Content-Crs": {
                "description": "CRS van de teruggegeven geometrieën",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bestemmingsvlakken"
                      ],
                      "type": "object",
                      "properties": {
                        "bestemmingsvlakken": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bestemmingsvlak"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded",
                    "_links"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bestemmingsvlakken"
                      ],
                      "type": "object",
                      "properties": {
                        "bestemmingsvlakken": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bestemmingsvlak"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bestemmingsvlakken?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bestemmingsvlakken/{id}": {
      "x-product": "bestemmingsvlak",
      "get": {
        "tags": [
          "Bestemmingsvlakken"
        ],
        "summary": "bestemmingsvlakken resource",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bestemmingsvlak"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bestemmingsvlak"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/functieaanduidingen": {
      "get": {
        "tags": [
          "Functieaanduidingen"
        ],
        "summary": "functieaanduidingen collectie",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "$ref": "#/components/parameters/bestemmingsplangebied"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "functieaanduidingen"
                      ],
                      "type": "object",
                      "properties": {
                        "functieaanduidingen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Functieaanduiding"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/functieaanduidingen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/functieaanduidingen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "functieaanduidingen"
                      ],
                      "type": "object",
                      "properties": {
                        "functieaanduidingen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Functieaanduiding"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/functieaanduidingen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/functieaanduidingen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/functieaanduidingen/{id}": {
      "get": {
        "tags": [
          "Functieaanduidingen"
        ],
        "summary": "functieaanduidingen resource",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/acceptCrs"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Functieaanduiding"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Functieaanduiding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/gebiedsaanduidingen": {
      "get": {
        "tags": [
          "Gebiedsaanduidingen"
        ],
        "summary": "gebiedsaanduidingen collectie",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "$ref": "#/components/parameters/bestemmingsplangebied"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "gebiedsaanduidingen"
                      ],
                      "type": "object",
                      "properties": {
                        "gebiedsaanduidingen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Gebiedsaanduiding"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/gebiedsaanduidingen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/gebiedsaanduidingen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "gebiedsaanduidingen"
                      ],
                      "type": "object",
                      "properties": {
                        "gebiedsaanduidingen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Gebiedsaanduiding"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/gebiedsaanduidingen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/gebiedsaanduidingen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/gebiedsaanduidingen/{id}": {
      "get": {
        "tags": [
          "Gebiedsaanduidingen"
        ],
        "summary": "gebiedsaanduidingen resource",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/acceptCrs"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Gebiedsaanduiding"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Gebiedsaanduiding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/maatvoeringen": {
      "get": {
        "tags": [
          "Maatvoeringen"
        ],
        "summary": "maatvoeringen collectie",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "$ref": "#/components/parameters/bestemmingsplangebied"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "maatvoeringen"
                      ],
                      "type": "object",
                      "properties": {
                        "maatvoeringen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Maatvoering"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/maatvoeringen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/maatvoeringen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "maatvoeringen"
                      ],
                      "type": "object",
                      "properties": {
                        "maatvoeringen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Maatvoering"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/maatvoeringen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/maatvoeringen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/maatvoeringen/{id}": {
      "get": {
        "tags": [
          "Maatvoeringen"
        ],
        "summary": "maatvoeringen resource",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/acceptCrs"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Maatvoering"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Maatvoering"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bouwaanduidingen": {
      "get": {
        "tags": [
          "Bouwaanduidingen"
        ],
        "summary": "bouwaanduidingen collectie",
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptCrs"
          },
          {
            "$ref": "#/components/parameters/bestemmingsplangebied"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bouwaanduidingen"
                      ],
                      "type": "object",
                      "properties": {
                        "bouwaanduidingen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bouwaanduiding"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwaanduidingen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwaanduidingen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "required": [
                    "_embedded"
                  ],
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "required": [
                        "bouwaanduidingen"
                      ],
                      "type": "object",
                      "properties": {
                        "bouwaanduidingen": {
                          "type": "array",
                          "x-result-ref": "collection",
                          "items": {
                            "$ref": "#/components/schemas/Bouwaanduiding"
                          }
                        }
                      }
                    },
                    "_links": {
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar huidige pagina",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwaanduidingen"
                            }
                          }
                        },
                        "next": {
                          "required": [
                            "href"
                          ],
                          "type": "object",
                          "description": "Absolute link naar volgende pagina (niet aanwezig als er geen volgende pagina is)",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://data.pdok.nl/ruimtelijke-plannen/api/v1/bouwaanduidingen?page=2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats.",
            "headers": {
              "Retry-After": {
                "description": "Tijdstip waarop verwacht is dat de service weer beschikbaar zal zijn.",
                "x-example": "Sun, 28 Nov 2017 16:41:41 GMT",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bouwaanduidingen/{id}": {
      "get": {
        "tags": [
          "Bouwaanduidingen"
        ],
        "summary": "bouwaanduidingen resource",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/acceptCrs"
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bouwaanduiding"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bouwaanduiding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header meegestuurd.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Je hebt geen rechten om deze URL te benaderen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status 404",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de `Accept` header verstuurd welke niet ondersteund wordt. De API kan momenteel alleen `application/hal+json` terugsturen.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
[...]
