openapi: 3.0.0
info:
  version: 0.2.0
  title: Cultureel Erfgoed API
  contact:
    name: Kadaster
    email: dimitri.vanhees@kadaster.nl
    url: 'https://www.kadaster.nl'
servers:
  - url: 'https://data.cultureelerfgoed.nl/api/v1'
paths:
  /_zoek:
    post:
      summary: Globaal zoeken
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/contentCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/SearchResults'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                'geometrie':
                  type: object
                  description: Het veld waarop geografisch gezocht moet worden. In dit geval is dit het veld `geometrie`.
                  properties:
                    within:
                      allOf:
                      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/GeoJsonObject'
                      description: >-
                        Deze property bepaalt het type query. In dit geval
                        `within`, maar het kan ook `contains` of
                        `intersects` zijn. Het moet een valide GeoJSON `Point`
                        of `Polygon` object bevatten.
                      properties:
                        type: 
                          type: string
                          enum: [Point, Polygon]
  /archeologische-complexen:
    get:
      summary: Archeologische complexen
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/ArcheologischeComplexen'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
  /archeologische-complexen/_zoek:
    post:
      summary: Zoeken op archeologische complexen
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/contentCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/ArcheologischeComplexen'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                'geometrie':
                  type: object
                  description: Het veld waarop geografisch gezocht moet worden. In dit geval is dit het veld `geometrie`.
                  properties:
                    within:
                      allOf:
                      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/GeoJsonObject'
                      description: >-
                        Deze property bepaalt het type query. In dit geval
                        `within`, maar het kan ook `contains` of
                        `intersects` zijn. Het moet een valide GeoJSON `Point`
                        of `Polygon` object bevatten.
                      properties:
                        type: 
                          type: string
                          enum: [Point, Polygon]
  /archeologische-onderzoeksgebieden:
    get:
      summary: Archeologische onderzoeksgebieden
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/ArcheologischeOnderzoeksgebieden'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'  
  /archeologische-terreinen:
    get:
      summary: Archeologische terreinen
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/ArcheologischeTerreinen'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'  
  /complexen:
    get:
      summary: Complexen
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/Complexen'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
  /grondsporen:
    get:
      summary: Grondsporen
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/Grondsporen'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
  /rijksmonumenten:
    get:
      summary: Rijksmonumenten
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/Rijksmonumenten'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
  /vondsten:
    get:
      summary: Vondsten
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/Vondsten'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
  /vondstlocaties:
    get:
      summary: Vondstlocaties
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/page'
      - $ref: 'https://rawgit.com/PDOK/open-api-specs/master/shared/parameters.yaml#/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/Vondstlocaties'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
components:
  responses:
    SearchResults:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'resultaten'
                type: object
                properties:
                  resultaten:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    ArcheologischeComplexen:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'archeologischeComplexen'
                type: object
                properties:
                  archeologischeComplexen:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArcheologischComplex'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    ArcheologischeOnderzoeksgebieden:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'archeologischeOnderzoeksgebieden'
                type: object
                properties:
                  grondsporen:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArcheologischOnderzoeksgebied'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    ArcheologischeTerreinen:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'archeologischeTerreinen'
                type: object
                properties:
                  grondsporen:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArcheologischTerrein'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    Complexen:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'complexen'
                type: object
                properties:
                  complexen:
                    type: array
                    items:
                      $ref: '#/components/schemas/Grondspoor'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    Grondsporen:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'grondsporen'
                type: object
                properties:
                  grondsporen:
                    type: array
                    items:
                      $ref: '#/components/schemas/Grondspoor'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    Rijksmonumenten:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'rijksmonumenten'
                type: object
                properties:
                  rijksmonumenten:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rijksmonument'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    Vondsten:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required: [_embedded, _links]
            type: object
            properties:
              _embedded:
                required:
                  - 'vondsten'
                type: object
                properties:
                  rijksmonumenten:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vondst'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
    Vondstlocaties:
      description: OK.
      headers:
        Content-Crs:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
        X-Pagination-Page:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationPage'
        X-Pagination-Limit:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xPaginationLimit'
        X-Total-Count:
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/xTotalCount'
      content:
        application/hal+json:
          schema:
            required:
              - _embedded
              - _links
            type: object
            properties:
              _embedded:
                required:
                  - 'vondstlocaties'
                type: object
                properties:
                  vondstlocaties:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vondstlocatie'
              _links:
                type: object
                allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalCollectionLinks']
  schemas:
    ArcheologischComplex:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
    ArcheologischOnderzoeksgebied:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
    ArcheologischTerrein:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
    Complex:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
    Grondspoor:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
    Vondst:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
    Vondstlocatie:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
    Rijksmonument:
      allOf: [$ref: '#/components/schemas/CultuurhistorischObject']
      properties:
        locn:
          type: object
          properties:
            thoroughfare:
              type: string
              example: Oudezijds Achterburgwal
            locatorDesignator:
              type: string
              example: '31'
            postCode:
              type: string
              example: 1012 DA
            postName:
              type: string
              example: Amsterdam
        perceel:
          type: object
          properties:
            plaats:
              type: string
              example: Amsterdam
            gemeente:
              type: string
              example: Amsterdam
            provincie:
              type: string
              example: NH
    CultuurhistorischObject:
      type: object
      required:
        - _links
      properties:
        naam:
          type: string
        functie:
          type: string
        materiaal:
          type: string
        omschrijving:
          type: string
        type:
          type: string
        stijlEnCultuur:
          type: string
        bouwkundigeKwaliteit:
          type: string
        geometrie:
          type: object
          allOf:
            - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/GeoJsonObject'
        _links:
          type: object
          properties:
            self:
              allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalLink']
              description: Absolute link naar huidige pagina
            samenhang:
              allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalLink']
              description: Absolute link naar andere cultuurhistorische objecten in de API
    SearchResult:
      type: object
      required:
        - _links
        - type
      properties:
        type:
          type: string
        _links:
          type: object
          properties:
            self:
              allOf: [$ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/schemas.yaml#/HalLink']
              description: Absolute link naar de gevonden resource
              properties:
                title:
                  type: string
                  description: Voor mens leesbare titel van de link
