openapi: 3.0.0
info:
  version: 0.2.0
  title: Cultureel Erfgoed API
  contact:
    name: Kadaster
    email: dimitri.vanhees@kadaster.nl
    url: 'https://www.kadaster.nl'
servers:
  - url: 'https://data.cultureelerfgoed.nl/api/v1'
paths:
  /rijksmonumenten:
    get:
      summary: Zoeken op een of meer instanties van rijksmonument
      parameters:
      - $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/parameters.yaml#/acceptCrs'
      responses:
        '200':
          description: OK.
          headers:
            Content-Crs:
              $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                required:
                  - _embedded
                  - _links
                type: object
                properties:
                  _embedded:
                    required:
                      - rijksmonumenten
                    type: object
                    properties:
                      rijksmonumenten:
                        type: array
                        items:
                          $ref: '#/components/schemas/Rijksmonument'
                  _links:
                    type: object
                    allOf:
                      - $ref: '#/components/schemas/CollectionLinks'
        '401':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/401'
        '403':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/403'
        '406':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/406'
        '503':
          $ref: 'https://rawgit.com/dvh/KP-APIs/master/oas-components/responses.yaml#/503'
components:
  parameters:
    id:
      name: id
      in: path
      description: Identificatiecode
      required: true
      schema:
        type: string
    page:
      description: Pagina nummer
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    limit:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        enum:
          - 10
          - 20
          - 50
          - 100
        default: 20
  schemas:
    Rijksmonument:
      type: object
      required:
        - _links
        - rijksmonumentnummer
      properties:
        rijksmonumentnummer:
          type: string
          example: '1'
        naam:
          type: string
          example: Besiendershuis
        registerComplexNaam:
          type: string
          example: Besiendershuis
        omschrijving:
          type: string
          example: Pand met halsgevel met gelobde afdekking (plm 1750). tstmat
        complexomschrijving:
          type: string
          example: Pand met halsgevel met gelobde afdekking (plm 1750). tstmat
        locn:
          type: object
          properties:
            thoroughfare:
              type: string
              example: Oudezijds Achterburgwal
            locatorDesignator:
              type: string
              example: '31'
            postCode:
              type: string
              example: 1012 DA
            postName:
              type: string
              example: Amsterdam
        brk:
          type: object
          properties:
            plaats:
              type: string
              example: Amsterdam
            gemeente:
              type: string
              example: Amsterdam
            provincie:
              type: string
              example: NH
        geometrie:
          type: object
          allOf:
            - $ref: '#/components/schemas/GeoJSON'
        _links:
          required:
            - self
          type: object
          properties:
            self:
              description: Absolute link naar huidige pagina
              required:
                - href
                - title
              type: object
              properties:
                href:
                  type: string
                  description: URL van de link
                  example: 'https://data.cultureelerfgoed.nl/api/v1/rijksmonumenten/1'
                title:
                  type: string
                  description: Voor mens leesbare titel van de link
                  example: Rijksmonument 1
            percelen:
              description: Link naar gerelateerde percelen
              required:
                - href
                - title
              type: array
              items:
                type: object
                properties:
                  href:
                    type: string
                    description: URL van de link
                    example: 'https://data.cultureelerfgoed.nl/api/v1/percelen/10001531'
                  title:
                    type: string
                    description: Voor mens leesbare titel van de link
                    example: Perceel 7671
    GeoJSON:
      type: object
      required:
        - coordinates
        - type
      properties:
        type:
          type: string
          enum:
            - Point
            - Polygon
            - LineString
            - MultiPoint
            - MultiLineString
            - MultiPolygon
          example: Polygon
        coordinates:
          type: array
          items:
            type: string
          description: >-
            Array met coördinaten behorende bij dit GeoJSON object. De structuur
            van de array hangt af van het `type`.
          example:
            - - - 5.858910083770752
                - 51.84376540294041
              - - 5.85968255996704
                - 51.84259879644993
              - - 5.860852003097533
                - 51.84413658957469
              - - 5.858910083770752
                - 51.84376540294041
    CollectionLinks:
      type: object
      properties:
        self:
          required:
            - href
          type: object
          description: Absolute link naar huidige pagina
          properties:
            href:
              type: string
              description: URL van de link
              example: >-
                https://data.informatiehuisruimte.nl/api/ruimtelijke-plannen/v1/_zoek
        next:
          required:
            - href
          type: object
          description: >-
            Absolute link naar volgende pagina (niet aanwezig als er geen
            volgende pagina is)
          properties:
            href:
              type: string
              description: URL van de link
              example: >-
                https://data.informatiehuisruimte.nl/api/ruimtelijke-plannen/v1/_zoek?page=2
