openapi: 3.0.0
servers:
  - url: 'https://brk.basisregistraties.overheid.nl/api/v1'
info:
  version: 2.0.0
  title: BRK API
  contact:
    name: Kadaster
    email: dataplatform@kadaster.nl
    url: 'https://www.kadaster.nl'
tags:
  - name: Percelen
    description: |
      Percelen.
  - name: Appartementsrechten
    description: |
      Appartementsrechten.
paths:
  /percelen:
    get:
      tags:
        - Percelen
      summary: Zoeken op een of meer instanties van perceel.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/kadastraleGemeente'
      responses:
        '200':
          description: OK.
          headers:
            Content-Crs:
              description: Coordinaatreferentiesysteem van de meegegeven geometrie
              schema:
                type: string
                enum:
                  - 'epsg:4258'
                  - 'epsg:28992'
                default: 'epsg:4258'
            X-Pagination-Page:
              description: Nummer van de huidige pagina (paginanummering start bij 1)
              schema:
                type: integer
            X-Pagination-Limit:
              description: Aantal Objecten per pagina
              schema:
                type: integer
            X-Total-Count:
              description: Totaal aantal resultaten (max 10.000)
              schema:
                type: integer
          content:
            application/hal+json:
              schema:
                required:
                  - _embedded
                  - _links
                type: object
                properties:
                  _embedded:
                    required:
                      - percelen
                    type: object
                    properties:
                      percelen:
                        type: array
                        items:
                          $ref: '#/components/schemas/Perceel'
                  _links:
                    type: object
                    x-type: collection-links
                    allOf:
                      - $ref: '#/components/schemas/CollectionLinks'
            application/problem+json:
              schema:
                required:
                  - _embedded
                  - _links
                type: object
                properties:
                  _embedded:
                    required:
                      - percelen
                    type: object
                    properties:
                      percelen:
                        type: array
                        items:
                          $ref: '#/components/schemas/Perceel'
                  _links:
                    type: object
                    x-type: collection-links
                    allOf:
                      - $ref: '#/components/schemas/CollectionLinks'
        '401':
          description: >-
            Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header
            meegestuurd.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '406':
          description: >-
            Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de
            `Accept` header verstuurd welke niet ondersteund wordt.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een
            storing plaats.
          headers:
            Retry-After:
              description: >-
                Tijdstip waarop verwacht is dat de service weer beschikbaar zal
                zijn.
              x-example: 'Sun, 28 Nov 2017 16:41:41 GMT'
              schema:
                type: string
                format: date-time
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /percelen/_zoek:
    post:
      tags:
        - Percelen
      summary: Zoeken binnen percelen
      parameters:
        - $ref: '#/components/parameters/contentType'
        - $ref: '#/components/parameters/contentCrs'
        - $ref: '#/components/parameters/acceptCrs'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/kadastraleGemeente'
      responses:
        '200':
          description: OK.
          x-pagination: true
          headers:
            Content-Crs:
              description: Coordinaatreferentiesysteem van de meegegeven geometrie
              schema:
                type: string
                enum:
                  - 'epsg:4258'
                  - 'epsg:28992'
                default: 'epsg:4258'
            X-Pagination-Page:
              description: Nummer van de huidige pagina (paginanummering start bij 1)
              schema:
                type: integer
            X-Pagination-Limit:
              description: Aantal Objecten per pagina
              schema:
                type: integer
            X-Total-Count:
              description: Totaal aantal resultaten (max 10.000)
              schema:
                type: integer
          content:
            application/hal+json:
              schema:
                required:
                  - _embedded
                  - _links
                type: object
                properties:
                  _embedded:
                    required:
                      - percelen
                    type: object
                    properties:
                      percelen:
                        type: array
                        items:
                          $ref: '#/components/schemas/Perceel'
                  _links:
                    type: object
                    x-type: collection-links
                    allOf:
                      - $ref: '#/components/schemas/CollectionLinks'
            application/problem+json:
              schema:
                required:
                  - _embedded
                  - _links
                type: object
                properties:
                  _embedded:
                    required:
                      - percelen
                    type: object
                    properties:
                      percelen:
                        type: array
                        items:
                          $ref: '#/components/schemas/Perceel'
                  _links:
                    type: object
                    x-type: collection-links
                    allOf:
                      - $ref: '#/components/schemas/CollectionLinks'
        '401':
          description: >-
            Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header
            meegestuurd.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '406':
          description: >-
            Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de
            `Accept` header verstuurd welke niet ondersteund wordt.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een
            storing plaats.
          headers:
            Retry-After:
              description: >-
                Tijdstip waarop verwacht is dat de service weer beschikbaar zal
                zijn.
              x-example: 'Sun, 28 Nov 2017 16:41:41 GMT'
              schema:
                type: string
                format: date-time
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                middelpunt:
                  type: object
                  properties:
                    intersects:
                      description: >
                        De manier van 'samenvallen' van de zoek-geometrie en de
                        resultaat-geometrie, zie OGC specificaties
                      $ref: '#/components/schemas/GeoJSON'
                    contains:
                      description: >
                        De manier van 'samenvallen' van de zoek-geometrie en de
                        resultaat-geometrie, zie OGC specificaties
                      $ref: '#/components/schemas/GeoJSON'
                    within:
                      description: >
                        De manier van 'samenvallen' van de zoek-geometrie en de
                        resultaat-geometrie, zie OGC specificaties
                      $ref: '#/components/schemas/GeoJSON'
  '/percelen/{id}':
    get:
      tags:
        - Percelen
      summary: Een enkele instantie van perceel opvragen
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Perceel'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Perceel'
        '401':
          description: >-
            Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header
            meegestuurd.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found. De resource kan niet gevonden worden.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '406':
          description: >-
            Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de
            `Accept` header verstuurd welke niet ondersteund wordt.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een
            storing plaats.
          headers:
            Retry-After:
              description: >-
                Tijdstip waarop verwacht is dat de service weer beschikbaar zal
                zijn.
              x-example: 'Sun, 28 Nov 2017 16:41:41 GMT'
              schema:
                type: string
                format: date-time
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /appartementsrechten:
    get:
      tags:
        - Appartementsrechten
      summary: Zoeken op een of meer instanties van appartementsrecht.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/kadastraleGemeente'
      responses:
        '200':
          description: OK.
          headers:
            X-Pagination-Page:
              description: Nummer van de huidige pagina (paginanummering start bij 1)
              schema:
                type: integer
            X-Pagination-Limit:
              description: Aantal Objecten per pagina
              schema:
                type: integer
            X-Total-Count:
              description: Totaal aantal resultaten (max 10.000)
              schema:
                type: integer
          content:
            application/hal+json:
              schema:
                required:
                  - _embedded
                  - _links
                type: object
                properties:
                  _embedded:
                    required:
                      - percelen
                    type: object
                    properties:
                      percelen:
                        type: array
                        items:
                          $ref: '#/components/schemas/Appartementsrecht'
                  _links:
                    type: object
                    x-type: collection-links
                    allOf:
                      - $ref: '#/components/schemas/CollectionLinks'
            application/problem+json:
              schema:
                required:
                  - _embedded
                  - _links
                type: object
                properties:
                  _embedded:
                    required:
                      - percelen
                    type: object
                    properties:
                      percelen:
                        type: array
                        items:
                          $ref: '#/components/schemas/Appartementsrecht'
                  _links:
                    type: object
                    x-type: collection-links
                    allOf:
                      - $ref: '#/components/schemas/CollectionLinks'
        '401':
          description: >-
            Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header
            meegestuurd.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '406':
          description: >-
            Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de
            `Accept` header verstuurd welke niet ondersteund wordt.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een
            storing plaats.
          headers:
            Retry-After:
              description: >-
                Tijdstip waarop verwacht is dat de service weer beschikbaar zal
                zijn.
              x-example: 'Sun, 28 Nov 2017 16:41:41 GMT'
              schema:
                type: string
                format: date-time
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  '/appartementsrechten/{id}':
    get:
      tags:
        - Appartementsrechten
      summary: Een enkele instantie van appartementsrecht opvragen
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Appartementsrecht'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Appartementsrecht'
        '401':
          description: >-
            Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key` header
            meegestuurd.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found. De resource kan niet gevonden worden.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '406':
          description: >-
            Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de
            `Accept` header verstuurd welke niet ondersteund wordt.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een
            storing plaats.
          headers:
            Retry-After:
              description: >-
                Tijdstip waarop verwacht is dat de service weer beschikbaar zal
                zijn.
              x-example: 'Sun, 28 Nov 2017 16:41:41 GMT'
              schema:
                type: string
                format: date-time
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    contentType:
      name: Content-Type
      in: header
      required: false
      description: Media type van het request
      schema:
        type: string
    contentCrs:
      name: Content-Crs
      in: header
      required: false
      description: Coordinaatreferentiesysteem van de meegegeven geometrie
      schema:
        type: string
        enum:
          - 'epsg:4258'
          - 'epsg:28992'
        default: 'epsg:4258'
    acceptCrs:
      name: Accept-Crs
      in: header
      required: false
      description: Gewenste CRS van de coördinaten in de response
      schema:
        type: string
        enum:
          - 'epsg:4258'
          - 'epsg:28992'
        default: 'epsg:4258'
    id:
      name: id
      in: path
      description: Identificatiecode
      required: true
      schema:
        type: string
    page:
      description: Pagina nummer
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    limit:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        enum:
          - 10
          - 20
          - 50
          - 100
        default: 20
    kadastraleGemeente:
      name: kadastraleAanduiding.kadastraleGemeente
      in: query
      required: false
      description: Filteren op kadastrale gemeente
      example: AMSTERDAM G
      schema:
        type: string
  schemas:
    KadastraleAanduiding:
      type: object
      properties:
        appartementsrechtVolgnummer:
          type: integer
        perceelnummer:
          type: string
          example: '7671'
        kadastraleGemeente:
          type: string
          example: AMSTERDAM G
        sectie:
          type: string
          example: G
    OnroerendeZaak:
      type: object
      required:
        - _links
      properties:
        aardCultuurBebouwd:
          type: string
        aardCultuurOnbebouwd:
          type: string
        toelichtingBewaarder:
          type: string
        omschrijvingKadastraalObject:
          type: string
        erfsdienstbaarhedenonderzoek:
          type: array
          items:
            type: object
            properties:
              omschrijving:
                type: string
              toestandsdatum:
                type: date
                format: YYYY
        kadastraleAanduiding:
          type: object
          allOf:
            - $ref: '#/components/schemas/KadastraleAanduiding'
        koopsom:
          type: object
          properties:
            currency:
              type: string
              example: EUR
              default: EUR
            koopjaar:
              type: integer
            meerObjecten:
              type: boolean
            value:
              type: number
              format: float
        belastMet:
          type: array
          items:
            type: object
            properties:
              bedrag:
                format: number
                type: decimal
              eindjaar:
                format: integer
    Appartementsrecht:
      type: object
      allOf:
        - $ref: '#/components/schemas/OnroerendeZaak'
        - properties:
            _links:
              required:
                - self
              type: object
              properties:
                self:
                  description: Absolute link naar huidige pagina
                  required:
                    - href
                    - title
                  type: object
                  properties:
                    href:
                      type: string
                      description: URL van de link
                      example: >-
                        https://brk.basisregistraties.overheid.nl/api/v2/appartementsrechten/1
                    title:
                      type: string
                      description: Voor mens leesbare titel van de link
                      example: Appartementsrecht 1
    Perceel:
      type: object
      allOf:
        - $ref: '#/components/schemas/OnroerendeZaak'
        - properties:
            middelpunt:
              type: object
              allOf:
                - $ref: '#/components/schemas/GeoJSON'
            kadastraleGrootte:
              type: object
              properties:
                numericValue:
                  type: number
                  format: float
                quantityKind:
                  type: string
                  example: Area
                soortGrootte:
                  type: string
                unit:
                  type: string
                  example: SquareMeter
            _links:
              required:
                - self
              type: object
              properties:
                self:
                  description: Absolute link naar huidige pagina
                  required:
                    - href
                    - title
                  type: object
                  properties:
                    href:
                      type: string
                      description: URL van de link
                      example: >-
                        https://brk.basisregistraties.overheid.nl/api/v2/percelen/1
                    title:
                      type: string
                      description: Voor mens leesbare titel van de link
                      example: Perceel 1
    GeoJSON:
      type: object
      required:
        - coordinates
        - type
      properties:
        type:
          type: string
          enum:
            - Point
            - Polygon
            - LineString
            - MultiPoint
            - MultiLineString
            - MultiPolygon
          example: Polygon
        coordinates:
          type: array
          items:
            type: string
          description: >-
            Array met coördinaten behorende bij dit GeoJSON object. De structuur
            van de array hangt af van het `type`.
          example:
            - - - 5.858910083770752
                - 51.84376540294041
              - - 5.85968255996704
                - 51.84259879644993
              - - 5.860852003097533
                - 51.84413658957469
              - - 5.858910083770752
                - 51.84376540294041
    Error:
      type: object
      required:
        - detail
        - instance
        - status
        - title
        - type
      properties:
        type:
          type: string
          description: >-
            URI naar een pagina met meer informatie over deze foutmelding voor
            de ontwikkelaar.
          default: 'about:blank'
          example: 'about:blank'
        title:
          type: string
        status:
          type: integer
          example: 404
        detail:
          type: string
        instance:
          type: string
    CollectionLinks:
      type: object
      properties:
        self:
          required:
            - href
          type: object
          description: Absolute link naar huidige pagina
          properties:
            href:
              type: string
              description: URL van de link
              example: >-
                https://brk.basisregistraties.overheid.nl/api/v2/appartementsrechten
        next:
          required:
            - href
          type: object
          description: >-
            Absolute link naar volgende pagina (niet aanwezig als er geen
            volgende pagina is)
          properties:
            href:
              type: string
              description: URL van de link
              example: >-
                https://brk.basisregistraties.overheid.nl/api/v2/appartementsrechten?page=2